h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
body
{  margin: 0px;
    font-family: 'Poppins', sans-serif;
}
.oranger-color{
    color: orange;
}
.felxible-container{
    display: flex;
    padding-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 3%;
    padding-right: 2%;
}

.half-width img{
    width: 100%;
}
.link-button{
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 40px;
    background-color: orange;
    border-radius: 5px;
    background-image: linear-gradient(orange,tomato);
}
.dream-big{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.top-banner{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;

}
.experience-area{
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
.experience-item{
    width: 40%;
    padding-left: 15px;
    margin-left: 6%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
}
#web-experience{
    border-left: 7px solid;
    border-image: linear-gradient(cyan,blue);
    border-image-slice: 1;
    
    
}
#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(purple,tomato);
    border-image-slice: 1;
}
footer{
    text-align: center;
}